input{
	padding:5px;
	font-size:1em;
	width:95%;
	filter:invert(100%);
}

.half{
	width:20%;
}

label.medium{
	width:70%;
	text-align:left;
	display:inline-block;
}

select.medium{
	width:70%;
	text-align:left;
	color:white;
	background-color:black;
	display:inline-block;
}

select.medium option {
  background:black;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

body {
	text-align:center;
	font-family:verdana;
	background-color:black;
	color:white;
}

a {
	color:#92c92f;
}

button {
	border:0;
	border-radius:0.3em;
	background-color:#92c92f;
	color:#fff;
	line-height:2.4em;
	font-size:1.2em;
	width:100%;
	display:block;
	cursor:pointer;
}

div.center-div{
	text-align:center;
	display:inline-block;
	width:320px;
	padding:5px;
}

button:disabled{
	background-color:#d3d3d3;
	cursor:not-allowed;
}

.q {
	float:right;
}

.s {
	display:inline-block;
	width:14em;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#wl{
	line-height:1.5em;
}